/* Background colors */

.green-bg-color
    background-color var(--green-color)

.blue-bg-color
    background-color var(--blue-color)

.white-bg-color
    background-color var(--white-color)

.ice-blue-bg-color
    background-color var(--ice-blue-color)
    
.azure-bg-color
    background-color var(--azure-color)

.frost-blue-bg-color
    background-color var(--frost-blue-color)

.red-bg-color
    background-color var(--red-color)

.yellow-bg-color
    background-color var(--yellow-color)

/* end Background colors */

/* Colors */

.blue-color
    color var(--blue-color)

.dark-slate-blue-color
    color var(--dark-slate-blue-color)

.slate-blue-color
    color var(--slate-blue-color)

.red-color
    color var(--red-color)

/* end Colors */