/* Micro reset */

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

input, textarea, button
  outline none
  font-family 'Gilroy-Medium', sans-serif
  font-size 16px

a
  outline none

button
  cursor pointer
  appearance none
  border none

ul
  list-style none
