:root
  --blue-color #2693ff
  --sky-blue-color #46A3FF
  --vivid-blue-color #1182F2
  --serene-sky-blue #A6C1D2
  --soft-blue-color #bfdaeb
  --frost-blue-color #EDF6FC
  --dark-slate-blue-color #283848
  --ice-blue-color #F4FBFF
  --blue-grayish-color #77899E
  --azure-color #E9F4FB
  --steel-blue-color #4e657b
  --slate-blue-color #4E5F70
  --green-color #1ad18f
  --red-color #ff4874
  --white-color #ffffff
  --yellow-color #ffc42e
  --blue-gray-color #475E78
  --shade-blue-color #E2EEF5
  --green-color-opacity-50 rgba(26, 209, 143, 0.5)
  --red-color-opacity-50 rgba(255, 72, 116, 0.5)
  --yellow-color-opacity-50 rgba(255, 196, 46, 0.5)
  --steel-blue-color-opacity-50 rgba(78, 101, 123, 0.5)
  --white-color-opacity-50 rgba(255, 255, 255, 0.5)